@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .borderTop {
    @apply border-t-[1px] border-gray-800;
  }

  .borderBottom {
    @apply border-b-[1px] border-gray-800;
  }

  .borderRight {
    @apply border-r-[1px] border-gray-800;
  }

  .borderLeft {
    @apply border-l-[1px] border-gray-800;
  }

  .borderAll {
    @apply border-[1px] border-gray-800;
  }

  /*Sobre css*/
  .aboutRightLi {
    @apply flex items-center justify-between border-b-[1px] border-gray-800 py-2 text-base font-normal text-stone-300 font-alt;
  }

  .aboutRightLiSpan {
    @apply rounded-md bg-designColor px-4 py-[1px] uppercase text-bodyColor;
  }

}
.hover\:w-full:hover {
    width: 100%;
}
.group:hover .group-hover\:w-full {
    width: 100%;
}
.group:hover .group-hover\:inline-block {
    display: inline-block;
}
.group:hover .group-hover\:flex-grow {
    flex-grow: 1;

}
